body{
font-family: Georgia, 'Times New Roman', Times, serif;
background: url(./images/lake\ view.jpg)fixed;
}
#dala{
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    color: rgb(166, 255, 0);
    text-align:right;
    cursor: pointer;
    
}
#dala+img{ 
    display: block;

  width: 500px;
  border-radius: 50%;
}
img{
     max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding:10px;
    width: 500px; 
    cursor: pointer;
    }
footer{
    color: aquamarine;
    position: static;
    background-color: black;
    text-align: right;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  
}
