body{
font-family: Georgia, 'Times New Roman', Times, serif;
background: url(./images/lake\ view.jpg)fixed;
}
#dala{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(166, 255, 0);
    text-align: center;
    position: sticky;
    cursor: pointer;
    pointer-events: painted;
}
.trasport img {

}
footer{
    color: aquamarine;
    position: static;
    background-color: black;
    text-align: right;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
